/**
* Available presenters: https://github.com/UX-and-I/storybook-design-token#available-presenters
*/

:root {
  /**
  * @tokens Font Families
  * @presenter FontFamily
  */

  --font-family-base: "Nunito Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;

  /**
  * @tokens Colors
  * @presenter Color
  */

  --white: #fff;
  --black: #333;
  --blue: #1ea7fd;
}
